<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mbggen.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="mbggen.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_drop" jdbcType="CHAR" property="isDrop" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, cancel_reason, member_id, member_name, pay_status, order_status, 
    pay_type, order_amount, update_date, is_drop, create_date, remark
  </sql>
  <resultMap id="BaseResultMap" type="mbggen.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_drop" jdbcType="CHAR" property="isDrop" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, cancel_reason, member_id, member_name, pay_status, order_status, 
    pay_type, order_amount, update_date, is_drop, create_date, remark
  </sql>
  <resultMap id="BaseResultMap" type="mbggen.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_drop" jdbcType="CHAR" property="isDrop" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, cancel_reason, member_id, member_name, pay_status, order_status, 
    pay_type, order_amount, update_date, is_drop, create_date, remark
  </sql>
  <resultMap id="BaseResultMap" type="mbggen.entity.Orders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_drop" jdbcType="CHAR" property="isDrop" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, cancel_reason, member_id, member_name, pay_status, order_status, 
    pay_type, order_amount, update_date, is_drop, create_date, remark
  </sql>
</mapper>